#prompt {
  border-radius: 0px;
  width: 200px;
  --main-color: #252b39;
  --secondary-color: #00E0C7;
  margin-top: -400px;
}

#prompt input{
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
}

#prompt label{
  text-align: center;
  display: block;
  text-align:center;
  margin-bottom: 3px;
  font-size: 14px;;
  font-family: fantasy;
}

#prompt #close {
  text-decoration: none;
  color: black;
}

#prompt button {
  cursor: pointer;
  padding: 4px 15px;
}

#prompt #close,
#prompt button{
  border: none;
  color: white;
  background-color: var(--main-color);
}

#prompt button:hover{
  background-color: #019908;
}

#prompt #close:hover{
  background-color: #AD4A4A;
}

#prompt #close {
  padding: 5px 17px;
}