* {
	font-family: tahoma;
}

body {
	--main-color: #252b39;
	--secondary-color: #00E0C7;
	background-color: var(--main-color);
	padding-top: 10px;
}

textarea {
	width: 100%;
	resize: none;
	border: none;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}

.toggles {
	display: block;
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: -10px;
}

.toggles label {
	color: white;
	margin-left: 13px;
	font-weight: bolder;
}


.toggles label,
.toggles input[type="checkbox"] {
	cursor: pointer;
}


.actions {
	display: block;
	margin-bottom: 5px;
}

.actions button,
.actions select {
	background-color: var(--secondary-color);
	border: none;
	padding: 4px 10px;
}

.actions button:hover,
.actions select:hover {
	background-color: white;
	cursor: pointer;
}

#dec4number,
#inc4number {
	top: 4px;
	position: relative;
}

#divPost {
	margin-bottom: 10px;
}

.menu_container{
	margin-bottom: 10px;
}

#postFieldLabel,
#urlFieldLabel,
#refeFieldLabel {
	background-color: white;
	padding: 4px 6px;
	border-top-right-radius: 5px;
	margin-bottom: -1px;
	text-align: center;
	font-weight: bolder;
}

#urlFieldLabel {
	width: 80px;
}

footer {
  position: fixed;
  right: 10px;
  bottom: 5px;
  padding-top: 10px;
  width: 100%;
  text-align: right;
  font-size:13px;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

.icono {
	opacity: 0.7;
	cursor: pointer;
}

.icono:hover {
	opacity: 1.0;
}

.icono:active {
	filter: saturate();
}

.icono:focus {
	outline: none;
}

.stringsACT {
	left: 85px;
	top: 20px;
	position: relative;
	width: 171px;
}

.stringsACT img {
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
	width: 15px;
}

.currentDiv {
	position: fixed;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	bottom: 5px;
	width: 80px;
	text-align: left;
	background-color: white;
	color: black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#wadvise{
	color: red;
	position: fixed;
	bottom: 40px;
	line-height: 15px;
}

.LabStyle {
	width: 60px;
	color: var(--main-color);
	font-weight: bolder;
}

.arrow {
	margin: 0;
	padding: 0;
	position: relative;
	top: 3px;
}

.encdec,
.encdec2 {
	background: white;
	margin-top: -1px;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.encdec2{
	padding-left: 5px;
	margin-top: -5px;
}